# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [ ]:
s.split()

['Hi', 'there', 'Sam!']

*`italicized text`*## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742
print("The diameter of {0} is {1} kilometers.".format(planet,diameter))
#print('The diameter of '+planet+' is '+str(diameter) +" kilometers ")

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [ ]:
d["k1"][3]["tricky"][3]["target"][3]

'hello'

# Numpy

In [ ]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [39]:
ar10=np.array([0,0,0,0,0,0,0, 0, 0, 0])
ar10.size

10

In [41]:
ar5=np.array([5,5,5,5,5,5,5,5,5,5])
ar5.size

10

## 5. Create an array of all the even integers from 20 to 35

In [42]:
a=[]
for i in range(20,35):
  if(i%2==0):
    a.append(i)
a

[20, 22, 24, 26, 28, 30, 32, 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [60]:
import numpy as np
x =  np.arange(0, 9).reshape(3,3)
print(x)
#x.shape
#a=np.array([[0,1,2],[3,4,5],[6,7,8]])
#a

[[0 1 2]
 [3 4 5]
 [6 7 8]]

(3, 3)

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [63]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
c=np.concatenate((a,b))
c
#c=a+b
#c

array([1, 2, 3, 4, 5, 6])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [67]:
data=[['ABIMANYU',8],['VIGNESH',34],['POOVARASAN',20]]
df=pd.DataFrame(data,columns=['Name',"Age"])
df

         Name  Age
0    ABIMANYU    8
1     VIGNESH   34
2  POOVARASAN   20

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [71]:
import datetime
import pandas as pd
 
# initializing date
start_date = datetime.datetime.strptime("01-01-2023", "%d-%m-%Y")
end_date = datetime.datetime.strptime("10-02-2023", "%d-%m-%Y")
 
# initializing K

 
date_generated = pd.date_range(start_date,end_date)
print(date_generated.strftime("%d-%m-%Y"))

Index(['01-01-2023', '02-01-2023', '03-01-2023', '04-01-2023', '05-01-2023',
       '06-01-2023', '07-01-2023', '08-01-2023', '09-01-2023', '10-01-2023',
       '11-01-2023', '12-01-2023', '13-01-2023', '14-01-2023', '15-01-2023',
       '16-01-2023', '17-01-2023', '18-01-2023', '19-01-2023', '20-01-2023',
       '21-01-2023', '22-01-2023', '23-01-2023', '24-01-2023', '25-01-2023',
       '26-01-2023', '27-01-2023', '28-01-2023', '29-01-2023', '30-01-2023',
       '31-01-2023', '01-02-2023', '02-02-2023', '03-02-2023', '04-02-2023',
       '05-02-2023', '06-02-2023', '07-02-2023', '08-02-2023', '09-02-2023',
       '10-02-2023'],
      dtype='object')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [68]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [69]:
df=pd.DataFrame(lists)
df

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24